PBO2P09_CLIENT/src/sample/WS_CLIENT/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:8080/PBO2P09_SOAP_war_exploded/services/HelloWorld?xsd=1"/>
</xsd:schema>
</types>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<message name="sayYourProfile">
<part name="parameters" element="tns:sayYourProfile"/>
</message>
<message name="sayYourProfileResponse">
<part name="parameters" element="tns:sayYourProfileResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<portType name="HelloWorld">
<operation name="sum">
<input wsam:Action="http://example/HelloWorld/sumRequest" message="tns:sum"/>
<output wsam:Action="http://example/HelloWorld/sumResponse" message="tns:sumResponse"/>
</operation>
<operation name="sayYourProfile">
<input wsam:Action="http://example/HelloWorld/sayYourProfileRequest" message="tns:sayYourProfile"/>
<output wsam:Action="http://example/HelloWorld/sayYourProfileResponse" message="tns:sayYourProfileResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://example/HelloWorld/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://example/HelloWorld/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
</portType>
<binding name="HelloWorldPortBinding" type="tns:HelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayYourProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
<soap:address location="http://localhost:8080/PBO2P09_SOAP_war_exploded/services/HelloWorld"/>
</port>
</service>
</definitions>