PBO2P09_SOAP/src/example/HelloWorldPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://example/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example/" schemaLocation="HelloWorldPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sum">
    <part name="parameters" element="tns:sum"/>
  </message>
  <message name="sumResponse">
    <part name="parameters" element="tns:sumResponse"/>
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
  </message>
  <message name="sayYourProfile">
    <part name="parameters" element="tns:sayYourProfile"/>
  </message>
  <message name="sayYourProfileResponse">
    <part name="parameters" element="tns:sayYourProfileResponse"/>
  </message>
  <portType name="HelloWorld">
    <operation name="sum">
      <input ns1:Action="http://example/HelloWorld/sumRequest" message="tns:sum" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://example/HelloWorld/sumResponse" message="tns:sumResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayHelloWorldFrom">
      <input ns3:Action="http://example/HelloWorld/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://example/HelloWorld/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayYourProfile">
      <input ns5:Action="http://example/HelloWorld/sayYourProfileRequest" message="tns:sayYourProfile" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://example/HelloWorld/sayYourProfileResponse" message="tns:sayYourProfileResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

